body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    border: 2px solid sienna;
}

.runighorse {
    position: relative;
    float: left;
    left: -10%;
    top: 120px;
    height: 400px;
    z-index: 1;
}

.grass {
    height: 500px;
    width: 500px;
    float: right;
}

.buttton {
    margin-top: 50px;
}

button {
    height: 50px;
    width: 140px;
    background-color: saddlebrown;
    color: wheat;
    margin: 0px 20px;
    border-radius: 5px;
    font-size: 19px;
}

@media screen and (max-width:426px) {
    .container {
        height: 300px;
    }
    .runighorse {
        height: 100px;
        left: 0%;
        top: 156px;
    }
    .grass {
        position: relative;
        height: 100px;
        width: 100px;
        top: 150px;
    }
    button {
        height: 40px;
        width: 100px;
        background-color: saddlebrown;
        color: wheat;
        margin: 0px 20px;
        border-radius: 5px;
        font-size: 15px;
    }
}